{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7", "ie >= 11"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-flow-strip-types", {}, "unique-name-1"],
    ["@babel/plugin-syntax-class-properties", {}, "unique-name-2"],
    ["@babel/plugin-proposal-class-properties", {}, "unique-name-3"]
  ]
}
